/*
    ******** This Cascading style sheet written by team of ux, Logic Valley Technology Pvt Ltd ********
    
----------------------------------------------------------------------------------------------------------*/


:root {
  --theme_color: #056CF2;
  --table_striped: #EBEEF2;
  --secondary_color: #F2B705;
}


