@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_CommonLayout.cshtml";
}
              
<script type="text/javascript">
        $(function () {
            $('#FromDate').datetimepicker({                    
                format: 'DD/MM/YYYY'
            });
            $('#ToDate').datetimepicker({                    
                format: 'DD/MM/YYYY'
                });
            });
        
        $(document).ready(function() {
            $('#ticket_list').DataTable();
            $('.custom-select').select2();
        }); 
</script>
<div class="dash_form_content">
                  <div class="container-fluid">
                      <div class="row">
                        <div class="col-md-6">
                            <h4>Search Tickets</h4>
                        </div>
                        <div class="col-md-6">
                            <div class="form_content_controls">
                                <i class="fa fa-repeat" aria-hidden="true" title="Clear"></i> <i class="fa fa-refresh" aria-hidden="true" title="Resfresh"></i> <i class="fa fa-file-excel-o" aria-hidden="true" title="Export"></i> 
                            </div>
                        </div>
                      </div>
                      <div class="row">
                          <div class="col-md-12">
                              <form class="ticket_form">
                                    <div class="form-row">                                        
                                        <div class="col form-group form-label-group">
                                          <select class="form-control custom-select" id="user">
                                              <option>Select user</option>
                                              <option>Tamilarasan</option>
                                              <option>Arumugam</option>
                                              <option>Ashok</option>
                                                <label for="user">User</label>
                                            </select>
                                        </div>
                                        
                                        <div class="col-md-2 form-group form-label-group">
                                          <input type="text" id="FromDate" class="form-control datetimepicker-input" data-toggle="datetimepicker" data-target="#FromDate" placeholder="From Date" >
                                          <label for="FromDate">From Date</label>
                                        </div> 
                                        
                                        <div class="col-md-2 form-group form-label-group">
                                          <input type="text" id="ToDate" class="form-control datetimepicker-input" data-toggle="datetimepicker" data-target="#ToDate" placeholder="To Date" >
                                          <label for="ToDate">To Date</label>
                                        </div>
                                        
                                        <div class="col form-group form-label-group">
                                          <select class="form-control custom-select" id="department">
                                              <option>Select Department</option>
                                              <option>Development and UI</option>
                                              <option>Business Analysis</option>
                                              <option>Mobile Team</option>
                                              <option>Testing</option>
                                              <label for="department">Department</label>
                                          </select>
                                        </div>                                        
                                      </div>
                                  
                                      <div class="form-row">
                                        <div class="col form-group form-label-group">
                                          <select class="form-control custom-select" id="project">
                                              <option>Select Project</option>
                                              <option>GEO4S BDT</option>
                                              <option>AI RPA Development</option>
                                              <option>Internal Training</option>
                                              <label for="project">Project</label>
                                          </select>
                                        </div>
                                        <div class="col-md-6 form-group form-label-group">
                                          <select class="form-control custom-select" id="task">
                                              <option>Select Task</option>
                                              <option>BOT scheduling and Automation</option>
                                              <option>Business case BOT</option>
                                              <option>Case Assignment BOT</option>
                                              <option>Supporting</option>
                                              <label for="task">Task</label>
                                          </select>
                                        </div> 
                                        <div class="col-md-2 form-group form-label-group">
                                            <button type="button" class="btn btn-primary btn-block btn-lg">Search</button>
                                        </div>
                                      </div>
                                  
                                      <div class="form-row">
                                        <div class="col-md-4 form-group form-label-group">
                                          <select class="form-control custom-select" id="project">
                                              <option>Select Report</option>
                                              <option>User Wise Report</option>
                                              <option>Project Wise Report</option>
                                              <label for="project">Project</label>
                                          </select>
                                        </div>                                        
                                        <div class="col-md-2 form-group form-label-group">
                                            <button type="button" class="btn btn-primary btn-block btn-lg">Report</button>
                                        </div>
                                      </div>
                              </form>
                          </div>                         
                          
                          
                          
                          
                      </div>                      
                  </div>
              </div>
                           
              <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        
                        
                        <table class="table table-striped" id="ticket_list">
                                  <thead>
                                    <tr>
                                      <th scope="col">#</th>
                                      <th scope="col">Project</th>
                                      <th scope="col">User Name</th>
                                      <th scope="col">Date</th>
                                      <th scope="col">Task Name</th>
                                      <th scope="col">Activity Name</th>
                                      <th scope="col">Status</th>
                                      <th scope="col">Hours Spent</th>
                                      <th scope="col">Notes</th>
                                      <th scope="col">Action</th>
                                    </tr>
                                  </thead>
                                  <tbody>
                                    <tr>
                                      <td scope="row">1</td>
                                      <td>Project 4</td>
                                      <td>Jacob</td>
                                      <td>15/07/2019</td>
                                      <td>Design Support & Fix</td>
                                      <td>Design </td>
                                      <td><span class="_inprogress">In Progress</span></td>
                                      <td>8:00</td>

                                      <td>JNPD: GEO4s - Design support- Full calendar </td><td>
                                          <i class="fa fa-pencil-square-o text-success" aria-hidden="true"></i>
                                          <i class="fa fa-trash-o text-danger" aria-hidden="true"></i>
                                      </td>
                                    </tr>
                                    <tr>
                                      <td scope="row">2</td>
                                      <td>Project 1</td>
                                      <td>Mohammad</td>
                                      <td>15/07/2019</td>
                                      <td>Design Support & Fix</td>
                                      <td>Design </td>
                                      <td><span class="_inprogress">In Progress</span></td>
                                      <td>8:00</td>

                                      <td>JNPD: GEO4s - Design support- Full calendar </td><td>
                                          <i class="fa fa-pencil-square-o text-success" aria-hidden="true"></i>
                                          <i class="fa fa-trash-o text-danger" aria-hidden="true"></i>
                                      </td>
                                    </tr>
                                    <tr>
                                      <td scope="row">3</td>
                                      <td>Project 3</td>
                                      <td>Reuben</td>
                                      <td>15/07/2019</td>
                                      <td>Design Support & Fix</td>
                                      <td>Design </td>
                                      <td><span class="_inprogress">In Progress</span></td>
                                      <td>8:00</td>

                                      <td>JNPD: GEO4s - Design support- Full calendar </td><td>
                                          <i class="fa fa-pencil-square-o text-success" aria-hidden="true"></i>
                                          <i class="fa fa-trash-o text-danger" aria-hidden="true"></i>
                                      </td>
                                    </tr>
                                    <tr>
                                      <td scope="row">4</td>
                                      <td>Project 1</td>
                                      <td>Frederick</td>
                                      <td>15/07/2019</td>
                                      <td>UI UX Design</td>
                                      <td>Design </td>
                                      <td><span class="_inprogress">In Progress</span></td>
                                      <td>8:00</td>

                                      <td>JNPD: GEO4s - Design support- Full calendar </td><td>
                                          <i class="fa fa-pencil-square-o text-success" aria-hidden="true"></i>
                                          <i class="fa fa-trash-o text-danger" aria-hidden="true"></i>
                                      </td>
                                    </tr>
                                    <tr>
                                      <td scope="row">5</td>
                                      <td>Project 1</td>
                                      <td>Mohammad</td>
                                      <td>15/07/2019</td>
                                      <td>Design Support & Fix</td>
                                      <td>Design </td>
                                      <td><span class="_completed">Completed</span></td>
                                      <td>8:00</td>

                                      <td>JNPD: GEO4s - Design support- Full calendar </td><td>
                                          <i class="fa fa-pencil-square-o text-success" aria-hidden="true"></i>
                                          <i class="fa fa-trash-o text-danger" aria-hidden="true"></i>
                                      </td>
                                    </tr>
                                    <tr>
                                      <td scope="row">6</td>
                                      <td>Project 3</td>
                                      <td>Reuben</td>
                                      <td>15/07/2019</td>
                                      <td>Design Support & Fix</td>
                                      <td>Design</td>
                                      <td><span class="_inprogress">In Progress</span></td>
                                      <td>8:00</td>

                                      <td>JNPD: GEO4s - Design support- Full calendar </td><td>
                                          <i class="fa fa-pencil-square-o text-success" aria-hidden="true"></i>
                                          <i class="fa fa-trash-o text-danger" aria-hidden="true"></i>
                                      </td>
                                    </tr>
                                    <tr>
                                      <td scope="row">7</td>
                                      <td>Project 1</td>
                                      <td>Frederick</td>
                                      <td>15/07/2019</td>
                                      <td>UI UX Design</td>
                                      <td>Design </td>
                                      <td><span class="_completed">Completed</span></td>
                                      <td>8:00</td>

                                      <td>NPD: GEO4s - Design support- Full calendar </td><td>
                                          <i class="fa fa-pencil-square-o text-success" aria-hidden="true"></i>
                                          <i class="fa fa-trash-o text-danger" aria-hidden="true"></i>
                                      </td>
                                    </tr>
                                    <tr>
                                      <td scope="row">8</td>
                                      <td>Project 1</td>
                                      <td>Mohammad</td>
                                      <td>15/07/2019</td>
                                      <td>Design Support & Fix</td>
                                      <td>Design </td>
                                      <td><span class="_completed">Completed</span></td>
                                      <td>8:00</td>

                                      <td>JNPD: GEO4s - Design support- Full calendar </td><td>
                                          <i class="fa fa-pencil-square-o text-success" aria-hidden="true"></i>
                                          <i class="fa fa-trash-o text-danger" aria-hidden="true"></i>
                                      </td>
                                    </tr>
                                    <tr>
                                      <td scope="row">9</td>
                                      <td>Project 3</td>
                                      <td>Reuben</td>
                                      <td>15/07/2019</td>
                                      <td>Design Support & Fix</td>
                                      <td>Design </td>
                                      <td><span class="_inprogress">In Progress</span></td>
                                      <td>8:00</td>

                                      <td>JNPD: GEO4s - Design support- Full calendar </td><td>
                                          <i class="fa fa-pencil-square-o text-success" aria-hidden="true"></i>
                                          <i class="fa fa-trash-o text-danger" aria-hidden="true"></i>
                                      </td>
                                    </tr>
                                    <tr>
                                      <td scope="row">10</td>
                                      <td>Project 1</td>
                                      <td>Frederick</td>
                                      <td>15/07/2019</td>
                                      <td>UI UX Design</td>
                                      <td>Design </td>
                                      <td><span class="_completed">Completed</span></td>
                                      <td>8:00</td>

                                      <td>JNPD: GEO4s - Design support- Full calendar </td><td>
                                          <i class="fa fa-pencil-square-o text-success" aria-hidden="true"></i>
                                          <i class="fa fa-trash-o text-danger" aria-hidden="true"></i>
                                      </td>
                                    </tr>
                                    <tr>
                                      <td scope="row">11</td>
                                      <td>Project 1</td>
                                      <td>Mohammad</td>
                                      <td>15/07/2019</td>
                                      <td>Design Support & Fix</td>
                                      <td>Design </td>
                                      <td><span class="_inprogress">In Progress</span></td>
                                      <td>8:00</td>

                                      <td>JNPD: GEO4s - Design support- Full calendar </td><td>
                                          <i class="fa fa-pencil-square-o text-success" aria-hidden="true"></i>
                                          <i class="fa fa-trash-o text-danger" aria-hidden="true"></i>
                                      </td>
                                    </tr>
                                    <tr>
                                      <td scope="row">12</td>
                                      <td>Project 3</td>
                                      <td>Reuben</td>
                                      <td>15/07/2019</td>
                                      <td>Design Support & Fix</td>
                                      <td>Design </td>
                                      <td><span class="_inprogress">In Progress</span></td>
                                      <td>8:00</td>

                                      <td>JNPD: GEO4s - Design support- Full calendar </td><td>
                                          <i class="fa fa-pencil-square-o text-success" aria-hidden="true"></i>
                                          <i class="fa fa-trash-o text-danger" aria-hidden="true"></i>
                                      </td>
                                    </tr>
                                    <tr>
                                      <td scope="row">13</td>
                                      <td>Project 1</td>
                                      <td>Frederick</td>
                                      <td>15/07/2019</td>
                                      <td>UI UX Design</td>
                                      <td>Design </td>
                                      <td><span class="_inprogress">In Progress</span></td>
                                      <td>8:00</td>

                                      <td>JNPD: GEO4s - Design support- Full calendar </td><td>
                                          <i class="fa fa-pencil-square-o text-success" aria-hidden="true"></i>
                                          <i class="fa fa-trash-o text-danger" aria-hidden="true"></i>
                                      </td>
                                    </tr>
                                    
                                  </tbody>
                                </table>
                        
                    </div>
                </div>
               </div>
              
